@font-face {
  font-family: "Adihausdin";
  src: url("../assets/fonts/adihausdin.woff2") format("woff2"),
    url("../assets/fonts/adihausdin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Adihausdin_cn";
  src: url("../assets/fonts/adihausdin_cn.woff2") format("woff2"),
    url("../assets/fonts/adihausdin_cn.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Adineueprocond_bold";
  src: url("../assets/fonts/adineueprocond_bold.woff2") format("woff2"),
    url("../assets/fonts/adineueprocond_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}