@import "./normalize";
@import "./fonts";
@import "./vars";
// components
@import "./components/Main.scss";
@import "./components/Header.scss";
@import "./components/Background.scss";

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Adihausdin";
}

h1 {
  @include Adihausdin($black);
}

h2 {
  @include Adihausdin_cn($gray);
}

h3 {
  @include Adineueprocond_bold($primary-color);
}
