<section class="details">
  <div class="details__item">
    <ul class="details__list">
      <li>
        <h3>Tension tape 360</h3>
        <p>Major ajuste com</p>
        <p>estructura trançada</p>
      </li>
      <li>
        <h3>Construção adaptativa</h3>
        <p>Firmeza e tensão ao redor do pé</p>
      </li>
      <li>
        <h3>Torsion system</h3>
        <p>Estabilidade nos movimentos</p>
        <p>de torção</p>
      </li>
    </ul>
    <figure class="details__image">
      <img src="../assets/images/bg/2.jpg" alt="nemeziz" />
    </figure>
    <figure class="details__slider">
      <img src="../assets/images/slider/3_1.jpg" alt="play" />
    </figure>
  </div>

</section>