<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=H, initial-scale11.0" />
    <link rel="shortcut icon" href="./assets/images/favicons/favicon.ico">
    <title>Document</title>
  </head>
  <body>
    {{> components/Background}}
    <main class="main">
      {{> components/Header}}
      {{> components/Presentation}}
      {{> components/Details}}
      {{> components/More}}
    </main>
  </body>
</html>